            <div>
              <!-- Header -->
              <div style="margin: 25px">
                <div>
                    <div>
                        <table class="table table-striped">
                            <tr>
                                <th>Nama Course</th>
                                <th>SKS</th>
                            </tr>

                            <tr *ngFor="let toDo of this.course.courseList; let i = index">
                                <td>{{ toDo.nama_course }}</td>
                                <td>{{ toDo.sks }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

              </div>

              <!-- Body  -->
              <div style="margin: 20px">
                <div style="margin-top: 30px">
                    <div class="col-lg-2" style="text-align: right">
                        <h5>Nama Course</h5>
                    </div>

                    <div class="form-group col-lg-10">
                        <input type="text" class="form-control" style="width: 30%" [(ngModel)]="newNamaCourse">
                    </div>
                </div>

                <div style="margin-top: 30px">
                    <div class="col-lg-2" style="text-align: right">
                        <h5>SKS</h5>
                    </div>

                    <div class="form-group col-lg-10">
                        <input type="text" class="form-control" style="width: 5%" [(ngModel)]="newSKS">
                    </div>
                </div>

                <button class="btn btn-primary" style="margin-left: 222px" (click)="addToDo()">Add Course</button>
            </div>

          </div>
